EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_GROQ_API_KEY=
EXPO_PUBLIC_POLYGON_AMOY_RPC=https://rpc-amoy.polygon.technology
EXPO_PUBLIC_CONTRACT_ADDRESS=
EXPO_PUBLIC_CHAIN_ID=80002
